
.cartItem{
    margin-bottom: 25px;
}
.cart__title{
    display: flex;
    justify-content: space-between;
}
.cart__title h3{
    font-family: var(--font-one);
    font-size: var(--font-size-L)
}
.cartItem__ingrediens{
    margin-left: 20px;
}
.cartItem__ingrediens p{
    font-family: var(--font-two);
    font-size: var(--font-size-S);
    color: rgb(70, 70, 70);
}
.cartItem__antal{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.antal__wraper{
    display: flex;
}
.cartItem__antal p{
    font-family: var(--font-two);
    font-size: var(--font-size-S);
    color: rgb(70, 70, 70);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.change__antal{
    display: flex;
    width: 70px;
    justify-content: space-between;
    margin-left: 10px;
}
.change__antal p:nth-child(1), .change__antal p:nth-child(3){
    cursor: pointer;
}
.cartItem__remove{
    text-decoration: underline;
    cursor: pointer;
}
.cartItem__specialneed{
    margin-left: 20px;
}
.cartItem__specialneed p {
    font-family: var(--font-two);
    font-size: var(--font-size-S);
    color: rgb(70, 70, 70);
}

/*media query*/
@media (max-width:500px) {
    .cartItem p{
        font-size: calc(var(--font-size-S) * 0.8);
    }
}