.cart {
  position: fixed;
  height: var(--vh);
  width: 600px;
  max-width: 100vw;
  z-index: 199;
  background-color: white;
  right: 0;
  top: 0;
  transition: all 0.3s;
  display: flex;
  overflow: hidden;
}
.cartPayment__wraper {
  position: absolute;
  height: 100%;
  width: 200%;
  display: flex;
  transition: all 300ms;
}
.cart__overlay {
  width: 100vw;
  height: var(--vh);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 60;
}
.cart__content__wraper {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__content {
  height: 90%;
  width: 80%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.cart__header {
  width: 100%;
}
.header__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.header__body p {
  font-family: var(--font-two);
  font-size: var(--font-size-M);
}
.cart__closeBtn {
  cursor: pointer;
}
.header__divider {
  width: 100%;
  height: 1px;
  background-color: black;
}
.cart__body {
  flex-grow: 1;
  position: relative;
  margin: 20px 0;
  overflow: scroll;
}
.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__footer p {
  font-family: var(--font-two);
  font-size: var(--font-size-S);
}
.cart__footer > p {
  text-decoration: underline;
  cursor: pointer;
}
.cart__footer button {
  display: flex;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 100px;
  font-family: var(--font-two);
  font-size: var(--font-size-S);
  outline: none;
  cursor: pointer;
}
/*payment*/
.cart__payment__wraper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 145, 0);
  position: relative;
  overflow-y: scroll;
}
.cart__payment {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.cart__payment h1 {
  font-family: var(--font-two);
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: 400;
}
.payment__img {
  width: 30%;
  margin-bottom: 50px;
}
.payment__img img {
  width: 100%;
}
.payment__btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.payment__btns button {
  width: 160px;
  height: 40px;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 999px;
  font-family: var(--font-two);
  outline: none;
  cursor: pointer;
}
.payment__btns button:hover {
  transition: all 300ms ease;
  background-color: white;
  color: rgb(255, 145, 0);
}
/*card payment*/
.payment__card {
  width: 100%;
  max-height: 0px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  transition: all 400ms ease;
}
.card__payment__divider {
  height: 1px;
  width: 70%;
  background-color: white;
  margin-bottom: 30px;
}
.payment__card h2,
.payment__onPickUp h2 {
  text-align: center;
  font-family: var(--font-two);
  font-size: 24px;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}
.backToCart h4 {
  font-family: var(--font-two);
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.backToCart {
  margin-top: 30px;
  margin-bottom: 50px;
}
/*payment on pickup*/
.payment__onPickUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0px;
  overflow: hidden;
  transition: all 400ms ease;
}
.payment__onPickUp p {
  font-family: var(--font-two);
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.payment__onPickUp h2 {
  margin-bottom: 30px;
}
.payment__onPickUp p a {
  text-decoration: underline;
}
.payment__onPickUp h4 {
  text-align: center;
  font-family: var(--font-two);
  font-size: 19px;
  color: white;
  font-weight: 400;
  margin-top: 20px;
}
.payment__onPickUp button {
  background-color: #ff5100;
  width: 135px;
  height: 45px;
  border: none;
  box-shadow: rgba(194, 111, 2, 0.308) 0px 0px 6px 3px;
  border-radius: 4px;
  color: white;
  margin-top: 30px;
  outline: none;
}
.payment__onPickUp button:hover {
  background-color: #db4500;
}

/*modified*/
.cart__overlay--close {
  opacity: 0;
  pointer-events: none;
}
.cart--close {
  transform: translateX(100%);
}
.showPayment {
  max-height: 500px;
}

/*media query*/
@media (max-width: 500px) {
  .cart__footer p {
    font-size: calc(var(--font-size-S) * 0.8);
  }
  .cart__content {
    width: 85%;
  }
  .card__payment__divider {
    width: 85%;
  }
  .payment__btns button {
    width: 150px;
    height: 35px;
    font-size: 15px;
  }
}
@media (max-height: 900px) {
  .cart__payment__wraper {
    align-items: flex-start;
  }
  .cart__payment {
    min-height: var(--vh);
  }
  .payment__img {
    margin-bottom: 30px;
  }
  .cart__payment h1 {
    margin-bottom: 30px;
  }
}
