.cart {
  position: fixed;
  height: 100vh;
  width: 600px;
  max-width: 100vw;
  z-index: 199;
  background-color: white;
  right: 0;
  top: 0;
  transition: all 0.3s;
  display: flex;
  overflow: hidden;
}
.cartPayment__wraper {
  position: absolute;
  height: 100%;
  width: 200%;
  display: flex;
  transition: all 300ms;
}
.cart__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 10;
}
.cart__content__wraper {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__content {
  height: 90%;
  width: 80%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.cart__header {
  width: 100%;
}
.header__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.header__body p {
  font-family: var(--font-two);
  font-size: var(--font-size-M);
}
.cart__closeBtn {
  cursor: pointer;
}
.header__divider {
  width: 100%;
  height: 1px;
  background-color: black;
}
.cart__body {
  flex-grow: 1;
  position: relative;
  margin: 20px 0;
  overflow: scroll;
}
.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__footer p {
  font-family: var(--font-two);
  font-size: var(--font-size-S);
}
.cart__footer > p {
  text-decoration: underline;
  cursor: pointer;
}
.cart__footer button {
  display: flex;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 100px;
  font-family: var(--font-two);
  font-size: var(--font-size-S);
  outline: none;
}
/*payment*/
.cart__payment__wraper {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 145, 0);
  position: relative;
}
.cart__payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart__payment h1 {
  font-family: var(--font-two);
  color: white;
  margin-bottom: 50px;
  font-weight: 400;
}
.payment__btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.payment__btns button {
  width: 140px;
  height: 40px;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 999px;
  font-family: var(--font-two);
}
.payment__card {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__payment__divider {
  height: 1px;
  width: 70%;
  background-color: white;
  margin-bottom: 30px;
}
.payment__card h2 {
  text-align: center;
  font-family: var(--font-two);
  font-size: 24px;
  color: white;
  font-weight: 400;
}
.backToCart h4 {
  font-family: var(--font-two);
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  color: white;
}
.backToCart {
  margin-top: 30px;
}

/*modified*/
.cart__overlay--close {
  opacity: 0;
  pointer-events: none;
}
.cart--close {
  transform: translateX(100%);
}

/*media query*/
@media (max-width: 500px) {
  .cart__footer p {
    font-size: calc(var(--font-size-S) * 0.8);
  }
  .cart__content {
    width: 85%;
  }
}
