.meny {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.meny__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.meny__background img {
  width: 120%;
}
.nemy__overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.658);
}
.meny__body {
  position: relative;
  width: 1250px;
  max-width: 80vw;
  height: 70vh;
  background-color: white;
  display: flex;
  overflow: hidden;
}
.meny__img {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.meny__img img {
  height: 110%;
}

/*meny contents*/
.meny__meny {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.meny__wraper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.meny__pages {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
.pages__wraper {
  width: 200%;
  display: flex;
  height: 100%;
  transition: all 0.3s;
  position: absolute;
}
.meny__list {
  flex-grow: 2;
  height: 100%;
  margin-top: 17px;
  margin: 15px;
  position: relative;
  overflow: scroll;
  display: flex;
}
.meny__listDiv {
  width: 100%;
  position: absolute;
}
.meny__meny h3 {
  font-family: var(--font-one);
  font-size: var(--font-size-L);
  text-align: center;
  margin-top: 30px;
}
.meny__nav {
  display: flex;
  justify-content: center;
}
.nav__mat h6,
.nav__dricka h6 {
  font-family: var(--font-two);
  font-size: calc(var(--font-size-M) * 0.9);
  font-weight: 300;
  margin: 20px 0 0 20px;
  cursor: pointer;
}
.nav__mat h6 {
  font-weight: 600;
}
.meny__divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.divider__downarrow svg {
  width: 12px;
}
.divider__line {
  height: 1px;
  width: 100%;
  background-color: black;
}
.meny__kundvagn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.meny__kundvagn button {
  background-color: transparent;
  padding: 10px 15px;
  border: solid 1px rgb(43, 42, 42);
  border-radius: 99px;
  font-family: var(--font-two);
  font-weight: 600;
  font-size: calc(var(--font-size-S) * 0.8);
  margin: 10px 0 20px 0;
  outline: none;
}

/*media query*/

@media (max-width: 950px) {
  .meny__img {
    display: none;
  }
}
@media (max-width: 800px) {
  .meny__wraper {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .meny__body {
    max-width: 95vw;
  }
  .meny__list {
    margin: 15px 0px;
  }
}
@media (max-width: 450px) {
  .menyitem__form .textarea {
    width: 90%;
  }
  .meny__kundvagn button {
    padding: 8px 13px;
    font-size: calc(var(--font-size-S) * 0.7);
    margin: 0px 0 12 px 0;
  }
  .meny__nav h6 {
    font-size: calc(var(--font-size-M) * 0.7);
    margin-top: 10px;
  }
  .meny__wraper h3 {
    margin-top: 15px;
  }
}
@media (max-height: 770px) {
  .meny {
    flex-direction: column;
    justify-content: flex-end;
  }
  .meny__body {
    height: calc(100vh - var(--nav-height) - 10px);
    transform: translateY(-10px);
  }
  :root {
    --nav-height: 80px;
  }
}
