.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 30px 20px;
  z-index: 99;
}
.navbar__body {
  width: 1500px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  z-index: 99;
}
/*logo*/
.navbar__logo {
  display: flex;
  cursor: pointer;
}
.logo__o {
  font-size: 50px;
  color: white;
  font-family: "Oxanium", cursive;
  transform: translateY(-6%);
}
.logo__rientkoket {
  font-size: 35px;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Oxanium", cursive;
}
/*left side icons*/
.navbar__leftIcons {
  display: flex;
  align-items: center;
}

.navbar__oder {
  border: 1px solid white;
  border-radius: 100px;
  margin-right: 40px;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--font-two);
  font-weight: 400;
  font-size: 18px;
  padding: 7px 25px;
  color: white;
  transition: all 300ms;
  outline: none;
}
.navbar__oder:hover {
  background-color: white;
  color: rgb(255, 145, 0);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.24);
}
.navbar__oder h4 {
}
.navbar__cart {
  width: 38px;
  cursor: pointer;
}
.navbar__cart svg{
  transition: all 0.3s;
}
/*buy now popup*/
.popOverlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  pointer-events: all;
}

.buyNowPop{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  position:fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popClose {
  display: none;
}
.popbody{
  width: 600px;
  height: 300px;
  background-color: rgb(255, 145, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;
  pointer-events: all;
}
.pop__btns{
  width: 100%;
  display: flex;
  justify-content: space-around;
 
}
.popHeader{
  font-family: var(--font-one);
  color:white;
  font-size: 35px;
}
.popbody button {
  width: 190px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 1000px;
  font-size: 15px;
  font-family: var(--font-two);
  color: white;
  transition:all 0.3s;
}
.popbody button:hover{
  background-color: white;
  color:rgb(255, 174, 0);
}
.navbar__cart:hover svg{
  transform: scale(1.2);
}