.sideIcons {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 88;
  transform: translateX(-100px);
  transition: all 0.3s;
  z-index: 80;
}
.sideIcon__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 87;
  pointer-events: none;
}
.sideIcons {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: auto;
}
.sideIcons svg {
  width: 50px;
  fill: white;
  transition: all 0.3s;
}
.sideIcons__container {
  margin: 0 25px;
}
.sideIcons__container > div {
  display: flex;
  align-items: center;
}
.sideIcons__container > div:nth-child(2) {
  margin: 35px 0;
}
.sideIcons__container svg {
  margin-right: 30px;
}
.sideIcons__container p {
  font-family: var(--font-two);
  margin: 7px 0;
  color: white;
  font-size:var(--font-size-S *0.9);
}
.sideIcon:hover svg{
  transform: scale(1.2);
}


/*media query*/

@media (max-width:700px) {
  .sideIconWrap{
    display: none;
  }
}